@font-face {
    font-family: 'geomanist';
    src: url('../../font/geomanist-ultra-webfont.woff');
}

@font-face {
    font-family: 'geomanist-light';
    src: url('../../font/geomanist-light-webfont.woff')
}

body {
    font-family: 'geomanist-light';
    background: black;
    color: white;
    padding-bottom: 200px;
    font-family: arial;
}

h1, .navbar {
    background: black;
    color: white;
    font-family: 'geomanist-light';
    font-size: 1.6em;
}

p {
    font-size: 1.2em;
}

.navbar-brand {
    font-family: 'geomanist';
    font-size: 1.6em;
    color: white;
    border-bottom: 3px solid black;
}

.nav-link {
    color: white;
    border-bottom: 3px solid black;
}

.nav-link:hover, .navbar-brand:hover {
    border-bottom: 3px solid;
}

.megaText {
    font-family: 'geomanist';
    font-size: 5em;
    color: white;
}

.megaTextSmall {
    font-family: 'geomanist-light';
    font-size: 3em;
    color: white;
}

#periodPink {
    color: lightcoral;
}

#periodBlue {
    color: lightskyblue;
}

.pink {
    color: lightcoral;
}

.blue {
    color: lightskyblue;
}

.card {
    background: black;
    margin-bottom: 10%;
}

.btn-primary {
    background: white;
    color: black;
    border: none;
}

.btn-primary:hover {
    background: lightcoral;
}